{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification de la Startup "{{ communaute.nomStartup }}"</h1>
    <div class="container">
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.nomStartup) }}
        {#{{ form_label(edit_form.file) }}#}
        <br>

        <img src="{{ asset(communaute.file) }}" width="300">
        {{ form_errors(edit_form.file) }}
        {{ form_widget(edit_form.file, {'required': false}) }}
        {{ form_rest(edit_form) }}


        <div class="container">
            <button type="submit" class="btn btn-success">Valider les modifications</button>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <button class="btn btn-danger" type="submit">Supprimer</button>
            {{ form_end(delete_form) }}
        </div>
        <a class="btn btn-primary" href="{{ path('communaute_index') }}">Revenir à la liste des Startups</a>
    </div>
{% endblock %}
