{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center">Startup(s) en attente d'une validation</h2>
        </div>
        <div class="row">
            {% if communautes != [] %}
                {% for communaute in communautes %}
                    <div data-Type="{{ communaute.categorie }}" class="col-lg-4 col-md-6 col-sm-6 modalUnique">
                        <div class="startUP">
                            <img src="/uploads/{{ communaute.filename }}" style="width: 200px">
                            <h1 class="nomStartUp">{{ communaute.nomStartup }}</h1>
                            {# <center><img class="logo" src="{{ asset('uploads/img/') }}{{ communaute.logo }}"></center>#}
                            <a class="btn btn-primary" href="{{ path('validation_show', { 'id': communaute.id }) }}">Voir</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Il n'y a aucune startup en attente de validation pour le moment.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
