{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ communaute.nomStartup }}</h1>

        <table>
            <tbody>
            <tr>
                <th>Logo</th>
                <img src="/uploads/{{ communaute.filename }}" style="width: 200px">
            </tr>
            <tr>
                <th>Description : </th>
                <td>{{ communaute.description }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ communaute.video }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ communaute.siteWeb }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ communaute.categorie }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ communaute.siret }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ communaute.adresse }}</td>
            </tr>
            <tr>
                <th>Nomcontact</th>
                <td>{{ communaute.nomContact }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ communaute.mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ communaute.telephone }}</td>
            </tr>
            </tbody>
        </table>

        <form action="{{ path('validation_delete') }}" method="POST">
            <input type="hidden" name="id" value="{{ communaute.id }}">
            <input type="hidden" name="mail" value="{{ communaute.mail }}">
            {# <input type="hidden" name="logo" value="{{ communaute.logo }}"> #}
            <input type="submit" class="btn btn-danger" value="Refuser cette startup">
        </form>

        <form action="{{ path('validation_validate') }}" method="POST">
            <input type="hidden" name="id" value="{{ communaute.id }}">
            <input type="hidden" name="mail" value="{{ communaute.mail }}">
            <input type="submit" class="btn btn-success" value="Accepter cette startup">
        </form>
        <a class="btn btn-primary" href="{{ path('validation_index') }}">Retourner à la liste</a>

    </div>
    <style>
        form{
            display: inline-block;
        }
    </style>
{% endblock %}