<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Frenchtech Alsace{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('logo.jpg') }}" />
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Accueil</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/presentation">Presentation </a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% else %}
                    <li><a href="/inscription">Inscription</a></li>
                {% endif %}
                <li><a href="{{ path('evenement') }}">Evenement</a></li>
                <li><a href="/contact/new">Nous Contacter</a></li>
            </ul>
            {% if is_granted("ROLE_ADMIN") %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion StartUp<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('validation_index') }}">Validation</a></li>
                            <li><a href="{{ path('communaute_index') }}">Modifier les StartUp</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Evenement<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('event_index') }}">Crée un Evenement</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('participation_index') }}">StartUp inscrit</a></li>
                            <li><a href="{{ path('participant_index') }}">Investiseur inscrit</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('index_extraction') }}" >Extraction CSV</a></li>
                    <li><a href="{{ path('admin') }}" >Mon Compte</a></li>
                    <li><a href="/logout">Deconnexion</a></li>
                </ul>



            {% elseif is_granted("ROLE_USER") %}
                <p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Deconnexion</a></p>

                <p class="navbar-text navbar-right"><a href="{{ path('compte') }}" class="navbar-link">Mon compte</a></p>
            {% else %}
                <p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Connexion</a></p>
            {% endif %}
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->

</nav>
<div class="container-fluid">
    {% block fos_user_content %}{% endblock fos_user_content %}

    {% block body %}{% endblock %}
</div>

<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}


{# Le formulaire reste globalement le même,

   On ne rajoute que le champ catégorie et le lien pour en ajouter #}




{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google

   mais si vous l'avez en local, changez simplement l'adresse. #}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{# Voici le script en question : #}

<script type="text/javascript">





    $(document).ready(function() {

        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.

        var $container = $('div#appbundle_communaute_images');

        var $bouton = $('div#ajoutImage');


        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement

        var index = $container.find(':input').length;


        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.

        $('#add_images').click(function(e) {

            addImage($container);


            e.preventDefault(); // évite qu'un # apparaisse dans l'URL

            return false;

        });


        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
        console.log(index);
        if (index == 0) {

        } else {

            // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles

            $container.children('div').each(function() {

                addDeleteLink($(this));
            });
        }
        if (index >= 3) {
            $('#ajoutImage').remove();
            console.log(index);
        } else {
            $('#ajoutImage').append();

        }



        // La fonction qui ajoute un formulaire ImageType

        function addImage($container) {

            // Dans le contenu de l'attribut « data-prototype », on remplace :

            // - le texte "__name__label__" qu'il contient par le label du champ

            // - le texte "__name__" qu'il contient par le numéro du champ

            var template = $container.attr('data-prototype')

                .replace(/__name__label__/g, 'Image n°' + (index+1))

                .replace(/__name__/g,        index)

            ;


            // On crée un objet jquery qui contient ce template

            var $prototype = $(template);


            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie

            addDeleteLink($prototype);


            // On ajoute le prototype modifié à la fin de la balise <div>

            $container.append($prototype);


            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro

            index++;
            console.log(index);

            if (index == 3) {

                    document.getElementById('ajoutImage').style.display = 'none';

            }
        }


        // La fonction qui ajoute un lien de suppression d'une catégorie

        function addDeleteLink($prototype) {

            // Création du lien

            var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');


            // Ajout du lien

            $prototype.append($deleteLink);


            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie

            $deleteLink.click(function(e) {

                $prototype.remove();

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL


                index--;
                if(document.getElementById('ajoutImage').style.display == 'none'){
                    document.getElementById('ajoutImage').style.display = 'block';
                }
                else {
                    document.getElementById('ajoutImage').style.display = 'block';
                }
                return false;

            });

        }

    });

</script>
</body>
</html>