<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Frenchtech Alsace{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('logo.jpg') }}" />
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.8.1/css/froala_editor.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Accueil</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/presentation">Presentation </a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% else %}
                    <li><a href="/inscription">Inscription</a></li>
                {% endif %}

                <li><a href="{{ path('evenement') }}">Evenement</a></li>
                <li><a href="/contact/new">Nous Contacter</a></li>

            </ul>
            {% if is_granted("ROLE_ADMIN") %}
                <p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Deconnexion</a></p>
                <p class="navbar-text navbar-right"><a href="{{ path('gestion_admin') }}" class="navbar-link">Mon compte</a></p>
                <p class="navbar-text navbar-right"><a href="{{ path('admin') }}" class="navbar-link">Gestion</a></p>

            {% elseif is_granted("ROLE_USER") %}
                <p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Deconnexion</a></p>

                <p class="navbar-text navbar-right"><a href="{{ path('compte') }}" class="navbar-link">Mon compte</a></p>
            {% else %}
                <p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Connexion</a></p>
            {% endif %}
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->

</nav>
<div class="container-fluid">
    {% block fos_user_content %}{% endblock fos_user_content %}

    {% block body %}{% endblock %}
</div>

<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>