{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="titre">Bienvenue dans l'administration du site !</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6 col-lg-offset-3">
                <ul>
                    <li>
                        <a href="{{ path('communaute_index') }}" role="button">Gestion des Startups</a>
                    </li>
                    <li>
                        <a href="{{ path('validation_index') }}" role="button">Validation des inscriptions</a>

                    </li>
                    <li>
                        <a href="{{ path('index_extraction') }}" role="button">Extraction de la base de données des Startups</a>

                    </li>
                    <li>
                        <a href="{{ path('event_index') }}" role="button">Gestion des événements</a>

                    </li>
                    <li>
                        <a href="{{ path('logout') }}" role="button">Deconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}