{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{{ path('admin') }}">Revenir au menu d'administration</a>

            <h1 class="col-lg-offset-5">Participants list</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Societe</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.prenom }}</td>
                        <td>{{ participant.nom }}</td>
                        <td>{{ participant.mail }}</td>
                        <td>{{ participant.societe }}</td>
                        <td>
                            {{ form_start(delForms[loop.index0]) }}
                            <input class="btn btn-danger" type="submit" value="Delete">
                            {{ form_end(delForms[loop.index0]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <style>
        tr:nth-child(even) {background-color: #f2f2f2;}
        .table,th,tr,td{border: 1px solid black;}
    </style>

{% endblock %}
