{% trans_default_domain 'FOSUserBundle' %}

<div class="container jumbotron">
    {{ dump(form) }}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    {{ form_widget(form.communaute.validation, {'type' : 'hidden' }) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>