{% trans_default_domain 'FOSUserBundle' %}

<div class="container jumbotron">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    {{ form_row(form.email) }}

    {{ form_row(form.username) }}

    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
</div>
<br>
<div class="container jumbotron">
    {{ form_row(form.communaute, {"label":" "}) }}



    {{ form_row(form.communaute.validation, {'value': 0, 'type': 'hidden'}) }}
    <div>
        <input type="submit" value="{{ 'Inscription'|trans }}" />
    </div>

    {{ form_end(form) }}
</div>