{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des Startups</h1>

    <div class="container">
        <div class="row">
            <label for="sel1">StartUp</label>
            <select class="" id="Type">
                <option value="">0. Tous</option>
                <option value="HealthTech">1. HealthTech</option>
                <option value="service informatique BtoB">2. service informatique BtoB</option>
                <option value="Ed Tech Entertainment">3. Ed Tech Entertainment</option>
                <option value="IOT Manufacturing">4. IOT Manufacturing</option>
                <option value="CleanTech/Mobility">5. CleanTech/Mobility</option>
                <option value="FoodTech">6. FoodTech</option>
                <option value="Sports">7. Sports</option>
                <option value="Retail">8. Retail</option>
                <option value="Fintech">9. Fintech</option>
                <option value="Security Privacy">10. Security Privacy</option>
                <option value="service informatique BtoC">11. service informatique BtoC</option>
            </select>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr class="info">
            <th>Id</th>
            <th>Nom de la Startup</th>
            <th>Description</th>
            <th>Video</th>
            <th>Site web</th>
            <th>Catégorie</th>
            <th>N° SIRET</th>
            <th>Adresse</th>
            <th>Nom du contact</th>
            <th>Mail</th>
            <th>Telephone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for communaute in communautes %}
            <tr>
                <td>{{ communaute.id }}</td>
                <td>{{ communaute.nomStartup }}</td>
                <td>{{ communaute.description }}</td>
                <td>{{ communaute.video }}</td>
                <td>{{ communaute.siteWeb }}</td>
                <td>{{ communaute.categorie }}</td>
                <td>{{ communaute.siret }}</td>
                <td>{{ communaute.adresse }}</td>
                <td>{{ communaute.nomContact }}</td>
                <td>{{ communaute.mail }}</td>
                <td>{{ communaute.telephone }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('communautes_edit', { 'id': communaute.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2>Start Up</h2>
    <div class="container-fluid">
        <div class="row">
            {% for  communaute in communautes %}
                <div data-Type="{{ communaute.categorie }}" class="col-lg-3 modalUnique">
                    <div class="test">
                        <h1 class="nomStartup">{{ communaute.id }} :{{ communaute.nomStartup }}</h1>
                        <a  href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgTDOzadSH7HZlU96Ogy2XzMynwk4o4Epcvw12FmpBYRT0B_aLrA"></a>

                        <a class="btn btn-primary" href="{{ path('communautes_edit', { 'id': communaute.id }) }}">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
