{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des Startups</h1>

    <table class="table table-bordered">
        <thead>
        <tr class="info">
            <th>Id</th>
            <th>Nom de la Startup</th>
            <th>Description</th>
            <th>Video</th>
            <th>Site web</th>
            <th>Catégorie</th>
            <th>N° SIRET</th>
            <th>Adresse</th>
            <th>Nom du contact</th>
            <th>Mail</th>
            <th>Telephone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for communaute in communautes %}
            <tr>
                <td>{{ communaute.id }}</td>
                <td>{{ communaute.nomStartup }}</td>
                <td>{{ communaute.description }}</td>
                <td>{{ communaute.video }}</td>
                <td>{{ communaute.siteWeb }}</td>
                <td>{{ communaute.categorie }}</td>
                <td>{{ communaute.siret }}</td>
                <td>{{ communaute.adresse }}</td>
                <td>{{ communaute.nomContact }}</td>
                <td>{{ communaute.mail }}</td>
                <td>{{ communaute.telephone }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('communautes_edit', { 'id': communaute.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
