{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="form-group ">
                <label for="sel1">StartUp</label>
                <form>
                    <select class="form-control col-xl-3" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <h2>Start Up</h2>
    <div class="container">
        <div class="row">
            {% for  startUp in startUps %}
                <div class="col-lg-3">
                    <h1 class="nomStartUp">{{ startUp.Label }}</h1>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgTDOzadSH7HZlU96Ogy2XzMynwk4o4Epcvw12FmpBYRT0B_aLrA">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{ startUp.id }}">More Infos</button>
                    <div class="modal fade" id="{{ startUp.id }}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="nomStartUp">{{ startUp.Label|e }}</h4>
                                    <a href="#">logo</a>
                                </div>
                                <div class="modal-body">
                                    <p>Description:{{ startUp.Description}}</p>
                                    <p>Adresse: {{ startUp.Adresse }}</p>
                                    <p>Type: {{ startUp.Type }}.</p>
                                    <p>Tags:{{ startUp.Tags }}</p>
                                    <p>Site: <a href="{{ startUp.SiteInternet }}">{{ startUp.SiteInternet }}</a></p>
                                    <p>Email et autre information</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
