{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <h2 class="titreNomStartUp">Start Up</h2>
            </div>
        </div>
        <div class="container">
            <div class="row select">
                <div class=" col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-3">
                    <label for="sel1">Filtre des StartUp :</label>
                    <select class="" id="Type">
                        <option value="">Tous</option>
                        <option value="HealthTech">HealthTech</option>
                        <option value="service informatique BtoB">service informatique BtoB</option>
                        <option value="Ed Tech Entertainment">Ed Tech Entertainment</option>
                        <option value="IOT Manufacturing">IOT Manufacturing</option>
                        <option value="CleanTech/Mobility">CleanTech/Mobility</option>
                        <option value="FoodTech">FoodTech</option>
                        <option value="Sports">Sports</option>
                        <option value="Retail">Retail</option>
                        <option value="Fintech">Fintech</option>
                        <option value="Security Privacy">Security Privacy</option>
                        <option value="service informatique BtoC">service informatique BtoC</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            {% for  communaute in communautes %}

                <div data-Type="{{ communaute.categorie }}" class="col-lg-4 col-md-6 col-sm-6 modalUnique">
                    <div class="startUP">

                        <h1 class="nomStartUp">{{ communaute.nomStartup }}</h1>

                        <center><img class="logo" src="/uploads/img/{{ communaute.logo }}"></center>
                        <button type="button" class="btn btn-info btn-lg info" data-toggle="modal" data-target="#{{ communaute.id }}">More Infos</button>
                        <div  class="modal fade {{ communaute.categorie }}" id="{{ communaute.id }}"  role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="nomStartUp">{{ communaute.nomStartup }}</h4>
                                        <img class="logo" src="/uploads/img/{{ communaute.logo }}">
                                    </div>
                                    <div class="modal-body">
                                        <p><b>Description :</b>{{ communaute.description}}</p>
                                        <p><b>Adresse :</b> {{ communaute.adresse }}</p>
                                        <p><b>Domaine :</b> {{ communaute.categorie }}</p>
                                        <p><b>Site:</b> <a href="{{ communaute.siteWeb }}">{{ communaute.siteWeb }}</a></p>
                                        <p><b>Email et autre information</b></p>
                                        <p><b>Video? Photo?</b></p>
                                        <div><iframe width="560" height="315" src="https://www.youtube.com/embed/kcwSzBhxIQE" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
{% block javascripts %}
{% endblock %}