{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(utilisateur) }}
    <h1>Modification de la Startup "{{ utilisateur.nomStartup }}"</h1>
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.nomStartup) }}
        {{ form_label(form.logo) }}
        <br>
        <img src="{{ asset('uploads/img/') }}{{ utilisateur.logo }}" width="300">
        {{ form_errors(form.logo) }}
        {{ form_widget(form.logo) }}
        {{ form_rest(form) }}


        <div class="container">
            <button type="submit" class="btn btn-success">Valider les modifications</button>
            {{ form_end(form) }}
            <form action="{{ path('compte_delete') }}" method="POST">
                <input type="hidden" name="id" value="{{ utilisateur.id }}">
                <input type="submit" class="btn btn-danger" value="Supprimer son compte">
            </form>

        </div>
    </div>
{% endblock %}
