{% extends 'base.html.twig' %}

{% block body %}

    <div id="form" class="container jumbotron">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <center><h1>{{ communaute.nomStartup }}</h1></center>
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.nomStartup) }}
        <br>

        <img class="logo" src="/uploads/{{ communaute.fileName }}" style="width: 150px">
        {{ form_errors(edit_form.file) }}
        {{ form_widget(edit_form.file, {'required': false}) }}

        {{ form_rest(edit_form) }}

        {% for key,image in communaute.images %}
            <img src="/uploads/{{ image.filename }}" style="width: 200px">
        {% endfor %}


        <div id="ajoutImage" class="well" style="display: block">
            <a href="#" id="add_images" class="btn btn-default">Ajouter une image</a>
        </div>


        <div class="container">
            <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Changer Utilisateur</a>
            <a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
            <button type="submit" class="btn btn-success">Valider les modifications</button>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <button class="btn btn-danger" type="submit">Supprimer</button>
            {{ form_end(delete_form) }}
        </div>
    </div>






{% endblock %}

{% block javascripts %}
{% endblock %}
