{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventimages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventImage in eventImages %}
            <tr>
                <td><a href="{{ path('eventimage_show', { 'id': eventImage.id }) }}">{{ eventImage.id }}</a></td>
                <td>{{ eventImage.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventimage_show', { 'id': eventImage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventimage_edit', { 'id': eventImage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventimage_new') }}">Create a new eventImage</a>
        </li>
    </ul>
{% endblock %}
