{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-lg-offset-5">Event edit</h1>
        </div>
    </div>
    <div class="container ">
        <div class="row col-lg-8 col-lg-offset-2  event">
            <div class=" col-lg-8 col-lg-offset-2">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-success" type="submit" value="Edit" />
                {{ form_end(edit_form) }}

                <a class="btn btn-primary" href="{{ path('event_index') }}">Back to the list</a>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <style>
        .event{background-color: darkgrey;}
    </style>
{% endblock %}
