{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{{ path('admin') }}">Revenir au menu d'administration</a>

            <h1>Events list</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Localisation</th>
                    <th>Nbmaxparticipants</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.titre }}</td>
                        <td>{{ event.description }}</td>
                        <td style="height: 140px; width: 140px;">{{ event.file }}</td>
                        <td>{% if event.date %}{{ event.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ event.localisation }}</td>
                        <td>{{ event.nbMaxParticipants }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href="{{ path('event_new') }}">Create a new event</a>
        </div>
    </div>
    <style>
        tr:nth-child(even) {background-color: #f2f2f2;}
        .table,th,tr,td{border: 1px solid black;}
    </style>
{% endblock %}
