{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h2 class="text-center">Gestion des Evenements</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Localisation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.titre }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.date|date('Y-m-d H:i:s') }}</td>
                        <td>{{ event.localisation }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('event_edit', { 'id': event.id }) }}">Gestion</a>
                            {{ form_start(delForms[loop.index0]) }}
                            <input class="btn btn-danger" type="submit" value="Supprimer">
                            {{ form_end(delForms[loop.index0]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href="{{ path('event_new') }}">Créer un nouvel événement</a>
        </div>
    </div>
    <style>
        tr:nth-child(even) {background-color: #f2f2f2;}
        .table,th,tr,td{border: 1px solid black;}
    </style>
{% endblock %}
