{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">


            <h1>Event</h1>

            <table>
                <thead>


                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Localisation</th>
                    <th>Nbmaxparticipants</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.titre }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.filename }}</td>
                    <td>{% if event.date %}{{ event.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ event.localisation }}</td>
                    <td>{{ event.nbMaxParticipants }}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('event_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
