{% extends 'base.html.twig' %}

{% block body %}

    <div class="container eventPast">
        <h1>Évenements passés</h1>
    </div>
    {% for event in events %}
        {% if event.date < dateNow %}
            <div class="container">
                <h3>{{ event.titre }}</h3>
                {{ event.description| raw }}
                {{ event.localisation }}
                {{ event.date|date("Y-m-d H:i") }}

                <input type="button" value="Voir" onClick="window.location = '{{ path('evenement', {'id': event.id}) }}'">
                <hr>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}