{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <h1>{{ event.0.titre }}</h1>
            </div>
            <div class="">
                <object data="/uploads/{{ event.0.filename }}" type="application/pdf" width="100%" height="800">
                    lie alternatif : <a href="/uploads/{{ event.0.filename }}">evenement.pdf</a>
                </object>
            </div>
        </div>
        <div class="row">
            <div class="text-justify event-description">
                {{  event.0.description | raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 bluebox">
                <h3>Où se situe cet événement ?</h3>
                <p>{{ event.0.localisation }}</p>
            </div>
            <div class="col-lg-4 redbox">
                <div class="date">{{ jour }}</div>
                <div class="hour">{{ heure }}</div>
            </div>
            <div class="col-lg-4 darkbluebox">
                <p class="v-center text-center">Nombre d'inscrits à l'événement : {{ nbInscrit }} / {{ event.0.nbMaxParticipants }}</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    {% if is_granted("ROLE_USER") %}
        <form method="POST" action="{{ path ('inscriptionStartUp') }}">
            <input name="eventId" type="hidden" value="{{ event.0.id }}">
            <button type="submit" class="btn btn-info btn-lg" >inscription StartUp</button>
        </form>
    {% else %}
        <a href="/login"><button type="button" class="btn btn-info btn-lg" >inscription StartUp</button></a>
    {% endif %}

    <div class="container">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Inscription Participant</button>


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Inscription Participant</h4>

                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <input name="eventId" type="hidden" value="{{ event.0.id }}">
                        <button type="submit" class="btn btn-info btn-lg" >inscription participant</button>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="col-lg-6 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p>Startups participantes</p><a class="vote" data-toggle="popover" title="Le vote" data-content="ici on met la présentation du vote avec beaucoup de texte ecte teteztezzrtz">??????</a>
                </div>
                <div class="panel-body">
                    {% for participation in participations %}
                        <div class="container-fluid participant_startup_box">
                            <div class="col-lg-11 event-description">
                                <p>{{ participation.communaute.nomStartup }}</p>
                            </div>
                            <div class="col-lg-1 bluebox text-center">
                                <div class="row">
                                    <form action="{{ path('vote') }}" method="POST">
                                        <button type="submit" name="vote" value="{{ participation.id }}" class="btn btn-default btn-lg">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </div>
                                <div class="row">
                                    <h3>{{ participation.nbVote }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-offset-1 col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p>Liste des investisseurs inscrit</p>
                </div>
                <div class="panel-body ">
                    {% for inscrit in participantInscrit %}
                        <div class="container-fluid participant_startup_box">
                            <div class="col-lg-11 event-description">
                                <p>{{ inscrit.nom }} {{ inscrit.prenom }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}