{% extends 'base.html.twig' %}



{% block body %}

    {% if event is defined %}
        <div class="container-fluid" >
            {% for message in app.flashes('success') %}
                <div class="col-lg-offset-3 col-lg-6 flash-notice alert alert-success">
                    <span class="glyphicon glyphicon-ok" ></span> {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="col-lg-offset-3 col-lg-6 flash-notice alert alert-danger">
                    <span class='glyphicon glyphicon-warning-sign' aria-hidden='true'></span>  {{ message }}
                </div>
            {% endfor %}

        </div>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6">
                        <div class="thumbnail">
                            <object class="text-center" style="height: 600px;" data="/uploads/{{ event.filename }}" type="application/pdf" width="100%" height="800">
                                lien alternatif : <a href="/uploads/{{ event.filename }}">evenement.pdf</a>
                            </object>

                            <div class="caption">
                                <div class="text-center">
                                    <h1>{{ event.titre }}</h1>
                                </div>
                                <p class="text-center">DESCRIPTION: {{  event.description | raw }}</p>
                                <div class="text-center">
                                    <h3>Où se situe cet événement ?</h3>
                                    <p>{{ event.localisation }}</p>
                                </div>
                                <div class="text-center">
                                    <p class="date">{{ event.date|date("d-m-Y H:i") }}</p>
                                </div>
                                <div>
                                    <p class="v-center text-center">Nombre d'inscrits à l'événement : {{ nbInscrit }} / {{ event.nbMaxParticipants }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid">
                <div class="col-lg-offset-1 col-lg-6 ">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p style="float: left">Startups participantes</p><span style="text-align: right"><p><i class="vote glyphicon glyphicon-question-sign"data-toggle="popover" title="Une startup inscrite à l’événement retient
particulièrement votre attention et votre intérêt?
N’hésitez pas à voter pour elle!"></i></p></span>
                            {% if event.date < today %}
                            {% else %}
                                {% if is_granted("ROLE_ADMIN") %}
                                {% else %}
                                    {% if is_granted("ROLE_USER") %}
                                        <form method="POST" action="{{ path ('inscriptionStartUp') }}">
                                            <input name="eventId" type="hidden" value="{{ event.id }}">
                                            <button type="submit" class="btn btn-info btn-lg" >Inscription Startup</button>
                                        </form>
                                    {% else %}
                                        <a href="/login"><button type="button" class="btn btn-info btn-lg" >Inscription Startup</button></a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {% for participation in participations %}
                                <div class="container-fluid participant_startup_box">
                                    <div class="col-lg-11 event-description">
                                        <p>StartUp :{{ participation.communaute.nomStartup }}</p>
                                        <p>Domaine : {{ participation.communaute.categorie }}</p>
                                        <a href="{{ participation.communaute.siteWeb }}">{{ participation.communaute.siteWeb }}</a>
                                    </div>
                                    <div class="col-lg-1 text-center">
                                        <div class="row">
                                            <form action="{{ path('vote') }}" method="POST">
                                                <input name="eventId" type="hidden" value="{{ event.id }}">
                                                <button type="submit" name="vote" value="{{ participation.id }}" class="btn btn-default btn-lg">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </button>
                                            </form>
                                        </div>
                                        <h3>{{ participation.nbVote }}</h3>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p>Liste des investisseurs inscrit</p>
                            {% if event.date < today %}
                            {% else %}
                                {% if is_granted("ROLE_ADMIN") %}

                                {% else %}
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Inscription Participant</button>
                                {% endif %}
                            {% endif %}
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Inscription Participant</h4>
                                            {{ form_start(form) }}
                                            {{ form_rest(form) }}
                                            <input name="eventId" type="hidden" value="{{ event.id }}">
                                            <button type="submit" class="btn btn-info btn-lg" >inscription participant</button>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            {% for inscrit in participantInscrit %}
                                {% if inscrit.statut =='Investisseur' %}
                                    <div class="container-fluid participant_startup_box">
                                        <div class="col-lg-11 event-description">
                                            <p>{{ inscrit.nom }} {{ inscrit.prenom }} / {{ inscrit.societe }}</p>
                                            <p> {{ inscrit.mail }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="container">
            <p style="font-size: 5vh; margin: 15vw;">La FrenchTech Alsace n'a pas mit en ligne d'évenement. Pour de plus amples informations, merci de nous <a href="{{ path('contact_new') }}">contacter.</a></p>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}